<div style="background-color: #abd1c6 !important; class="container py-5 d-flex flex-column">
  <%= link_to 'â† Back', :back, class: "text-decoration-none mb-5", style: "color: black;" %>
  <%= cl_image_tag(@user.avatar.key, class: "border rounded-circle", style: "max-width:15%;") %>
  <div class="d-flex py-3 align-items-center">
    <h1 class="mb-0"><%= @user.first_name + " " + @user.last_name %></h1>
    <svg viewBox="0 0 24 24" role="presentation" style="width: 40px; height: 40px;"><path d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z" style="fill: rgb(0, 181, 183);"></path></svg>
  </div>
  <p>Member since <%= @user.created_at.strftime("%B %d, %Y") %></p>
  <div class="container p-0">
    <div class="row p-0">
      <div class="col-8">
        <h3 class="py-3">Items</h3>
        <div class="cards">
          <% @user.items.each do |item| %>
            <%#= link_to item_path(item) do %>
              <div class="card" style="max-height: 400px">
                <%= cl_image_tag item.photo.key, class: "h-50", style: "object-fit: cover;" if item.photo.key.present? %>
                <div class="card-body d-flex flex-column justify-content-between">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text"><%= number_to_currency(item.value) %></p>
                  <p class="card-text"><%= item.status %></p>
                    <%= link_to "See item", item_path(item), class: "btn btn-success" %>
                </div>
              </div>
            <%# end %>
          <% end %>
        </div>
      </div>
      <div class="col-4">
        <h3 class="py-3">Statistics</h3>
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="card-title">ðŸ’° Total value saved</h5>
            <p class="card-text fs-3"><%= number_to_currency(@total_value_saved) %></p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="card-title">ðŸš« Total items not bought</h5>
            <p class="card-text fs-3"><%= @total_items_adandoned_count %></p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="card-title">ðŸ§® Total items</h5>
            <p class="card-text fs-3"><%= @user.items.count %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5 px-0">
    <div class='bg-white py-5 px-5 d-flex flex-row'>
      <%= pie_chart current_user.items.group(:status).count, empty: "No data" %>
      <%= bar_chart current_user.items.group_by_day(:created_at).count, xtitle: "Number of items created by day", empty: "No data" %>
    </div>
</div>
</div>
