<ul class="nav navbar border-top py-3 px-5" id='cta'>
  <div class="container d-flex justify-content-end">
    <li class="nav-item px-2">
      <%= link_to 'Dashboard', dashboard_path, class: 'btn sec-nav-btn' %>
    </li>
    <li class="nav-item px-2">
      <%= link_to 'My Items', items_path, class: 'btn sec-nav-btn' %>
    </li>
  </div>
</ul>
<div class='row p-0' id='cta'>
    <div class="container col-7 px-5 py-3 light-bg mt-5">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <h1 class='py-4 header-txt' style="color: #001e1d;">Update Account Details</h2>
              <div class="container d-flex flex-row col-8 light-bg align-left m-0 p-0">
      <% if current_user.avatar.present?  %>
        <%= cl_image_tag(current_user.avatar.key, class: "avatar-square rounded d-inline-block img-thumbnail img-fluid") %>
      <% else %>
        <%= image_tag ('default-avatar.png'), class: "avatar-square rounded d-inline-block img-thumbnail img-fluid" %>
      <% end %>
         <ul class='plist-group list-group-flush px-3 '>
        <li class="list-group-item light-bg"><strong>Items Created:</strong> <%= current_user.items.count %></li>
        <li class="list-group-item light-bg"><strong>Total Comments:</strong> <%= current_user.comments.count %></li>
        <li class="list-group-item light-bg"><strong>Account Created:</strong> <%= current_user.created_at.strftime('%d/%m/%Y') %></li>
        <li class="list-group-item light-bg"><strong>Last Updated:</strong> <%= current_user.updated_at.strftime('%d/%m/%Y') %></li>
      </ul>

  </div>
            <div class='py-1 pt-3'>
              <h4 class='pt-2 header-txt' style="color: #001e1d;">Personal Details</h4>
              <%= f.input :first_name, required: true, autofocus: true %>
            </div>
            <div class='py-1'>
              <%= f.input :last_name, required: true, autofocus: true %>
            </div>
            <div class='py-1'>
              <%= f.input :email, required: true, autofocus: true %>
            </div>
            <div class='py-1'>
              <%= f.input :username, required: true, autofocus: true %>
            </div>
            <div class='py-1'>
              <h4 class='pt-2 header-txt' style="color: #001e1d;">Profile Picture</h2>
              <%= f.input :avatar, as: :file,
                          label: false,
                          hint: ('Please select a profile picture.'),
                          required: false %>
            </div>
            <div class='py-1'>
              <h4 class='pt-2 header-txt' style="color: #001e1d;">Profile Visibility</h2>
              <p>Would you like your account to be visible to other users?</p>
              <%= f.input :profile_visible, required: true, autofocus: true %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
            </div>
            <div class='py-1'>
              <h4 class='pt-2 header-txt' style="color: #001e1d;">Update Password</h2>
              <%= f.input :password,
                          hint: "Please leave blank if you don't want to change your password",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
            </div>
          </div>
          <div class='py-1'>
            <h4 class='pt-2 header-txt' style="color: #001e1d;">Confirm Password</h2>
            <p>Please enter your password to confirm changes before submitting.</p>
            <%= f.input :current_password,
                        hint: "We require your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
            <div class="form-actions">
              <div class='d-grid col-6 container py-2'>
                <%= f.button :submit, "Submit Changes", class: 'btn btn-lg othr-btn my-3' %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class='container col-7 px-5 mt-5 py-3 mb-5 light-bg'>
      <h4 class='pt-2 header-txt' style="color: #001e1d;">Cancel Account</h3>
      <p>Are you sure you want to cancel your account?</p>
      <div class='d-grid col-6 container'>
        <%= link_to "Cancel Account", registration_path(resource_name), class: 'btn btn-lg wrn-btn my-3', data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    </div>
  </div>
