<div class='container'>
  <div class='row'>
    <div class='col-5 align-self-center'>
      <h1 class='pb-3'>Curb Your Spend</h2>
      <ul>
        <li><i class="fa-solid fa-circle-check"></i><p><Strong>Eliminate</Strong></p></li>
        <li><p>Eliminate impulse spending and buyers remorse.</p></li>
        <li><i class="fa-solid fa-circle-check"></i><p><Strong>Track</Strong></p></li>
        <li><p>Track everything you want.</p></li>
        <li><i class="fa-solid fa-circle-check"></i><p><Strong>Buy</Strong></p></li>
        <li><p>Only buy the things that you really need.</p></li>
      </ul>
    </div>
    <div class='col-6 align-self-center border my-4 p-2'>
      <h3 class='py-3'>Create Your Curb Account</h1>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first name" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last name" }%>
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "username" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :profile_visible,
                      required: true,
                      autofocus: true%>
        </div>
        <div class="form-actions text-center">
          <%= f.button :submit, "Create account", class: 'btn btn-lg gen-btn mb-3' %>
          <p>Have an account? <%= render "devise/shared/links" %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>
