<div class='row p-0' id='cta'>
  <div class='col-12 col-lg-6 min-vh-75'>
    <div class="row align-center py-5">
      <div class='col-10 border px-5 py-3 m-auto light-bg'>
        <h3 class='py-4 text-center fs-1 header-txt' style="color: #001e1d;">Create Account</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <div class='py-1'>
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: 'First Name',
                          input_html: { autocomplete: "first name" }%>
            </div>
            <div class='py-1'>
              <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: 'Last Name',
                          input_html: { autocomplete: "last name" }%>
            </div>
            <div class='py-1'>
              <%= f.input :username,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: 'Username',
                          input_html: { autocomplete: "username" }%>
            </div>
            <div class='py-1'>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: 'Email',
                          input_html: { autocomplete: "email" }%>
            </div>
            <div class='py-1'>
              <%= f.input :avatar, as: :file,
                          label: false,
                          hint: ('Please select a profile picture.'),
                          required: false %>
            </div>
            <div class='py-1'>
              <%= f.input :password,
                          required: true,
                          label: false,
                          placeholder: 'Password',
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class='py-1'>
              <%= f.input :password_confirmation,
                          required: true,
                          label: false,
                          placeholder: 'Confirm Password',
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class='py-1'>
              <%= f.input :profile_visible,
                          required: true,
                          autofocus: true%>
            </div>
          </div>
          <div class="form-actions text-center d-grid">
            <%= f.button :submit, "Sign Up", class: 'btn btn-lg gen-btn my-3' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-12 col-lg-5 min-vh-75 py-4' id='cta'>
    <div class="row">
      <div class='col-12 text-center m-auto mt-5'>
        <h2 class='text-white fs-1 py-2 header-txt' style='color: #fffffe;'>Already have an account?</h2>
        <p class='body-txt' style='color: #abd1c6;'>Sign in to your Curb Your Spend account.</p>
        <div class='d-grid col-6 container'>
          <%= link_to "Sign In", new_session_path(resource_name), class: 'btn btn-lg gen-btn my-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
