<div class='container'>
  <div class='row'>
    <div class='col-5 my-5 p-2'>
      <h1 class='pb-3'>Curb Your Spend</h2>
      <ul>
        <li><i class="fa-solid fa-circle-check"></i><p><Strong>Eliminate</Strong></p></li>
        <li><p>Eliminate impulse spending and buyers remorse.</p></li>
        <li><i class="fa-solid fa-circle-check"></i><p><Strong>Track</Strong></p></li>
        <li><p>Track everything you want.</p></li>
        <li><i class="fa-solid fa-circle-check"></i><p><Strong>Buy</Strong></p></li>
        <li><p>Only buy the things that you really need.</p></li>
      </ul>
    </div>
    <div class='col-6 align-self-center border my-4 p-2'>
      <h3 class='py-3'>Forgot your password?</h1>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Reset password", class: 'btn gen-btn' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
