<ul class="nav navbar border-top py-3 px-5 light-bg">
  <div class="container d-flex justify-content-end">
    <li class="nav-item px-1">
      <%= link_to 'Back', :back, class: 'btn sec-nav-btn' %>
    </li>
    <li class="nav-item px-2">
      <%= link_to 'Add Item', new_item_path, class: 'btn sec-nav-btn' %>
    </li>
    <li class="nav-item px-2">
      <%= link_to 'My Items', items_path, class: 'btn sec-nav-btn' %>
    </li>
  </div>
</ul>
<div class="row pb-5 pt-2 light-bg">
  <div class='container col-11 light-bg px-4'>
    <div class='pt-5 px-5'>
      <h1 class='drk-header-txt'>Hey <%= current_user.first_name || current_user.username || current_user.email %>,</h1>
      <h2 class='py-4 drk-header-txt'>Here's a summary of all your items...</h2>
    </div>
    <div class='container'>
      <div class="row py-5">
        <div class="col-4">
          <div class="card mx-2 text-center" style="border-radius: 3px;" id='cta'>
          <div class='icon my-3'>
            <i class="fa-solid fa-sack-dollar fs-1"></i>
          </div>
            <div class="card-header lght-header-txt text-center fs-3 my-0 pt-0" id='cta'>
              Total Value of Items
            </div>
            <div class="card-body card-bg">
              <p class="card-text text-center py-2 drk-header-txt fs-2"><%= number_to_currency(current_user.items.sum(:value)) %></p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mx-2 text-center" style="border-radius: 3px;" id='cta'>
          <div class='icon my-3'>
            <i class="fa-solid fa-cart-shopping fs-1"></i>
          </div>
            <div class="card-header lght-header-txt text-center fs-3 my-0 pt-0" id='cta'>
              Total Items
            </div>
            <div class="card-body card-bg">
              <p class="card-text text-center py-2 drk-header-txt fs-2"><%= current_user.items.count %></p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mx-2 text-center" style="border-radius: 3px;" id='cta'>
            <div class='icon my-3'>
              <i class="fa-solid fa-money-bill-trend-up fs-1"></i>
            </div>
            <div class="card-header lght-header-txt text-center fs-3 my-0 pt-0" id='cta'>
              Money Saved
            </div>
            <div class="card-body card-bg">
              <p class="card-text text-center py-2 drk-header-txt fs-2"><%= number_to_currency(current_user.items.where(status: "Abandoned").sum(:value)) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 px-5 py-4 dash-calendar my-5'>
      <h2 class='header-txt text-center pb-3'>Items cooling off this week</h2>
      <%= render partial: "dashcalendar", locals: {events: current_user.items} %>
    </div>
    <div class='col-12 my-5 py-4 px-5'>
      <h2 class='header-txt text-center pb-3'>Your Latest Items</h2>
      <table class='table table-bordered table-striped table-hover all-items bg-white'>
        <thead>
          <tr class='lght-header-txt' id='cta'>
            <th scope="col">Item</th>
            <th scope="col">Value</th>
            <th scope="col">Reason</th>
            <th class='date-col' scope="col">Days left</th>
            <th class='date-col' scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%  current_user.items.last(5).each do |item| %>
            <% if item.user_id == current_user.id %>
              <tr>
                <td onclick="location.href='<%= item_path(item.id) %>'"><%= item.name %></td>
                <td onclick="location.href='<%= item_path(item.id) %>'"><%= number_to_currency(item.value) %></td>
                <td onclick="location.href='<%= item_path(item.id) %>'"><%= item.reason %></td>
                <td onclick="location.href='<%= item_path(item.id) %>'" class='date-col'>
                  <%= if (item.end_date - Date.today) > 0
                    (item.end_date - Date.today).to_s.split("/")[0]
                  else
                    "Complete"
                  end %>
                </td>
                <td onclick="location.href='<%= item_path(item.id) %>'" class='date-col'><%= item.status %></td>
                <td style='width: 150px;'>
                  <div class='text-center'>
                    <%= link_to edit_item_path(item) do %>
                      <i class="fa-solid fa-pencil btn othr-btn mx-1"></i>
                    <% end  %>
                    <%= link_to item_path(item), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } do %>
                      <i class="fa-solid fa-trash-can btn wrn-btn mx-1"></i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='col-12 px-5 py-4 my-5'>
      <h2 class='header-txt text-center pb-3'>Items By Value</h2>
      <%= bar_chart current_user.items.group(:name).sum(:value), colors: ["#e16162"] %>
    </div>
    <div class='col-12 px-5 py-4 my-5'>
      <h2 class='header-txt text-center pb-3'>Items By Status</h2>
      <%= pie_chart current_user.items.group(:status).count, colors: ["#e16162", "#e8e4e6", "#f9bc60" ] %>
    </div>
  </div>
</div>
