<div class='row p-0'>
  <div class='col-7 min-vh-75'>
    <div class="row align-center">
      <div class='col-8 border px-5 py-3 bg-white m-auto'>
        <h3 class='py-4 text-center fs-1'>Login to Account</h1>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <div class='py-1'>
              <%= f.input :email,
                          required: false,
                          label: false,
                          placeholder: 'Email',
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
            </div>
            <div class='py-1'>
              <%= f.input :password,
                          required: false,
                          label: false,
                          placeholder: 'Password',
                          input_html: { autocomplete: "current-password" } %>
            </div>
            <div class='pt-1'>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
          <div class="form-actions text-center d-grid">
            <%= f.button :submit, "Sign In", class: 'btn rounded-pill btn-lg gen-btn my-3' %>
          </div>
        <% end %>
        <div class='py-2 pb-3 pb-5 text-center'>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        </div>
      </div>
    </div>
  </div>
  <div class='col-5 min-vh-75 py-4' id='cta'>
    <div class="row">
      <div class='container text-center m-auto mt-5'>
        <h2 class='text-white fs-1 py-2'>Don't have an account?</h2>
        <p class='text-white'>Sign up for a Curb Your Spend account!</p>
        <div class='d-grid col-6 container'>
          <%= link_to "Sign Up", new_registration_path(resource_name), class: 'btn btn-lg rounded-pill wht-btn my-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
